<configuration debug="false">
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %-12logger{12} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
